body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 4em;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#rules {
    font-size: 30px;
}

#input {
    height: 40px;
    width: 210px;
    font-size: 2em;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#reset {
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color: green;
    color: white;
    border: solid 3px orange;
    border-radius: 45px;
    cursor: pointer;

}

#button {
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color: green;
    color: white;
    border: solid 3px orange;
    border-radius: 45px;
    cursor: pointer;
}

#button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
    transition: 0.2s ease;
}

#reset:hover {
    background-color: darkgreen;
    transform: scale(1.05);
    transition: 0.2s ease;
}


#text {
    font-size: 3em;
}
